@{
    ViewData["Title"] = "Contato";
}

<section class="contato container">
        <div class="contato-header">
            <h1 class="contato-title">Fale conosco</h1>
        </div>

        <div class="contato-content">
            <h1 class="contato-itens"><i class='bx bxs-phone'></i>Telefone</h1>
            <p>+55 11 97282-5931</p>
            <p>Horário: 8hrs às 14hrs</p>
            <h1 class="contato-itens"><i class='bx bxs-envelope' ></i>E-mail</h1>
            <p>fobos.atendimento@gmail.com</p>
            <h1 class="contato-itens"><i class='bx bxs-user-pin'></i>Atendimento presencial</h1>
            <p>IFSP - R. Pedro Vicente, 625 - Canindé, São Paulo - SP, 01109-010</p>
            <p>Horário: 8hrs às 11hrs</p>
        </div>
</section>

