@{
    ViewData["Title"] = "Sobre";
}

<section class="sobre container">
        <div class="sobre-header">
            <h1 class="contato-title">Nossa Empresa</h1>
        </div>

        <div class="contato-content"> 
            <p>Somos a empresa Fobos, uma startup, que visa disseminar informações sobre astronomia de forma inovadora e acessível.<br><p>Queremos contribuir para o conhecimento de nossos usuários com leveza e modernidade, sendo uma plataforma que oferece estudos de forma inteligente e gratuita para todos. </p><p>Nossos conteúdos são ofertados aos usuários de forma gradativa e instigante, para que eles possam ter interesse de aprender cada vez mais, sem se cansar ou perder o foco com artigos enormes.</p><p>Nossa missão é facilitar o acesso à informação e trazer para mais perto, um pedacinho do universo. Nossa próxima viagem é para marte e você é muito bem vindo a bordo! 😉</p>
        </div>

        <div class="contato-img">
            <div class="caixa">
                <img src="~/img/bela.png" alt="Avatar" class="image">
                <div class="middle">
                  <div class="text">Isabella Gomes</div>
                    <a href="https://www.linkedin.com/in/isabella-gomes-cardoso-0604b5205/"><i class='bx bxl-linkedin'>Linkedin</i></a>
                    <a href="https://www.instagram.com/isa.gmc"><i class='bx bxl-instagram'>Instagram</i></a>
                </div>
            </div>
            <div class="caixa">
                <img src="~/img/ju.png" alt="Avatar" class="image">
                <div class="middle">
                  <div class="text">Julia Furquim</div>
                  <a href="https://www.linkedin.com/mwlite/in/j%C3%BAlia-furquim-622870231"><i class='bx bxl-linkedin'>Linkedin</i></a>
                    <a href="https://www.instagram.com/ju.furquim/"><i class='bx bxl-instagram'>Instagram</i></a>
                </div>
            </div>
            <div class="caixa">
                <img src="~/img/lu.png" alt="Avatar" class="image">
                <div class="middle">
                  <div class="text">Luis Henrique</div>
                  <a href="https://www.linkedin.com/in/luis-henrique-4b14b520a/"><i class='bx bxl-linkedin'>Linkedin</i></a>
                  <a href="https://instagram.com/luis_h3nrique_"><i class='bx bxl-instagram'>Instagram</i></a>
                </div>
            </div>
            <div class="caixa">
                <img src="~/img/bele.png" alt="Avatar" class="image">
                <div class="middle">
                  <div class="text">Isabelle Pimenta</div>
                  <a href="#"><i class='bx bxl-linkedin'>Linkedin</i></a>
                  <a href="https://instagram.com/ispmta?igshid=YmMyMTA2M2Y="><i class='bx bxl-instagram'>Instagram</i></a>
                </div>
            </div>
            <div class="caixa">
                <img src="~/img/_rafa.jpg" alt="Avatar" class="image">
                <div class="middle">
                  <div class="text">Rafael de Carvalho</div>
                  <a href="https://www.linkedin.com/in/rafael-carvalho-7295b3213/"><i class='bx bxl-linkedin'>Linkedin</i></a>
                  <a href="https://www.instagram.com/lp_rafavilar_lp/"><i class='bx bxl-instagram'>Instagram</i></a>
                </div>
            </div>
        </div>
    </section>
